!!!
%html
  %head
    %meta{'http-equiv' => "X-UA-Compatible", 'content' => "IE=edge"}
    %title South Africa 2050 Pathways Calculator
    = stylesheet
    = javascript
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17161700-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #root
      #content
        #svgWarn
          This interface requires
          %a{href:'http://caniuse.com/#cats=SVG'} a browser that supports SVG.
          it seems like your browser doesn't support SVG. You should really 
          upgrade your browser. 
          %a{href:'http://www.firefox.com'} We recommend Firefox.                               
          %p
            %a{href: '#', onclick:"$('#svgWarn').hide()"}Hide this message.

        #topbar
          #name
            #zaflag
              %img{src:"/assets/images/zaflag.png"}
            %a{href:'http://www.environment.gov.za'} The South Africa 2050 Calculator

          #examples
            //%a.newdropdown{href:'#', data: {dropdown: '#savedpathway_choices'}} Examples

          // To add or remove views from the web tool, alter the following section
          #views
            %a.view{href:'#', data: {view: 'primary_energy_chart'}} Energy
            %a.view{href:'#', data: {view: 'electricity'}} Electricity
            %a.view{href:'#', data: {view: 'energy_security'}} Security
            %a.view{href:'#', data: {view: 'sankey'}} Flows
            / %a.view{href:'#', data: {view: 'map'}} Map
            %a.view{href:'#', data: {view: 'story'}} Story
            / %a.view{href:'#', data: {view: 'costs'}} Costs
            / %a#cost_choice.newdropdown{href:'#', data: {dropdown: '#cost_choices'}} Costs
            // %a.view{href:'#', data: {view: 'air_quality'}} Air
            %a.view{href:'#', data: {view: 'share'}} Share
            / %a.view{href: 'http://2050-calculator-tool-wiki.decc.gov.uk'} Docs

        #cost_choices.dropdown
          %a.view{href:'#', data: {view: 'costs_in_context'}} In context
          %a.view{href:'#', data: {view: 'costs_compared_overview'}} Compared
          %a.view{href:'#', data: {view: 'costs_sensitivity'}} Sensitivity

        #savedpathway_choices.dropdown
          - saved_pathways.each do |name,code|
            %a{href:"#", onclick:"twentyfifty.switchPathway('#{code}');$('ul#savedpathway_choices').toggle()"}= name
          %a{href:"http://2050-calculator-tool-wiki.decc.gov.uk/pages/122"} More examples
      
        #calculating
          %span Calculating

        // The charts will be drawn in this block
        #results

        // These are the controls
        #classic_controls
          #demand
            %table
              %b Demand
              - structure.demand_choices.each do |choice|
                = classic_table_row_for_choice choice
          #supply
            %table
              %b Supply
              - structure.supply_choices.each do |choice|
                = classic_table_row_for_choice choice
          #other
            %img{src:"/assets/dea_logo.png"}
            / %table
            /   = classic_table_row_for_choice structure.geosequestration_choice
            /   = classic_table_row_for_choice structure.balancing_choice
        #tooltip
      #root_footer
    #footer
      Based on <a href='https://github.com/craigmj/decc_2050_model/blob/master/spreadsheet/SACC.141008.KEA.xlsx'>excel #{ModelStructure.instance.reported_calculator_version.to_s.downcase}</a>. The source code for this site is available under an open source licence from 
      %a{href: "http://github.com/craigmj/twenty-fifty"}http://github.com/craigmj/twenty-fifty
      For support please contact
      %a{href: "mailto:kbuchanan@environment.gov.za"}kbuchanan@environment.gov.za
